img{
	margin-top:20px;
	width:230px;
	height:150px;
}
.galerija img{
	transition:1s;
	
	
	
	
}
.galerija img:hover{
	transform:scale(1.1);
	
	
	
}

#naslov{
	text-align:center;
	color:#44344F;
	font-family:"Times New Roman";
}
body{
	background-color:#9eefa3;
	
}
.galerija{
	padding-bottom:20px;
}